.my-header { margin-bottom: 0px; border-bottom: 0px; background-color: #5eafff; -webkit-animation: bounce 1.5s ease; -moz-animation: bounce 1.5s ease; -o-animation: bounce 1.5s ease; animation: bounce 1.5s ease; }
.my-header .nav li a, .my-header a { color: #e7f3f9; }
.my-header .nav li a:hover, .my-header .nav li a:focus, .my-header a:hover, .my-header a:focus { color: #bedfef; background-color: #45a2ff; -webkit-animation: my_tada 1s forwards; -moz-animation: my_tada 1s forwards; -o-animation: my_tada 1s forwards; animation: my_tada 1s forwards; -webkit-box-shadow: -10px 10px 15px 0px rgba(0, 127, 255, 0.5); -moz-box-shadow: -10px 10px 15px 0px rgba(0, 127, 255, 0.5); box-shadow: -10px 10px 15px 0px rgba(0, 127, 255, 0.5); }

@media (max-width: 768px) { .my-header .nav li a:hover, .my-header .nav li a:focus, .my-header a:hover, .my-header a:focus { -webkit-animation: bounceIn 1s ease; -moz-animation: bounceIn 1s ease; -o-animation: bounceIn 1s ease; animation: bounceIn 1s ease; } }
.jumbotron { color: #e7f3f9; position: relative; overflow: hidden; }

.jumbotron, #qy-content-list { margin-top: 50px; }

.special-box { float: left; background-color: #5eafff; }
.special-box.out { -webkit-animation: zoomOut 3s forwards; -moz-animation: zoomOut 3s forwards; -o-animation: zoomOut 3s forwards; animation: zoomOut 3s forwards; }
.special-box.ins { -webkit-animation: zoomIn 2s forwards; -moz-animation: zoomIn 2s forwards; -o-animation: zoomIn 2s forwards; animation: zoomIn 2s forwards; }

.qy-special { position: absolute; width: 100%; z-index: 99; top: 0px; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; height: 300px; }

.carouselbox { width: 100%; background-color: #5eafff; }

.large-header { position: fixed; top: 0; z-index: 999; }

.conten-static-top { position: relative; }

.panel-default { -webkit-animation: fadeInLeft 1.5s ease; -moz-animation: fadeInLeft 1.5s ease; -o-animation: fadeInLeft 1.5s ease; animation: fadeInLeft 1.5s ease; }

.jumbotron, .panel-body { -webkit-animation: fadeIn 3s ease; -moz-animation: fadeIn 3s ease; -o-animation: fadeIn 3s ease; animation: fadeIn 3s ease; }

.qy-content { padding: 20px; -webkit-box-shadow: 0px 2px 6px 0px rgba(100, 100, 100, 0.3); -moz-box-shadow: 0px 2px 6px 0px rgba(100, 100, 100, 0.3); box-shadow: 0px 2px 6px 0px rgba(100, 100, 100, 0.3); }

.panel-title a { position: relative; z-index: 1000; color: #698266; }
.panel-title a:hover, .panel-title a:focus { color: #3b4939; text-decoration: none; }
.panel-title .qy-right-span { float: right; }
.panel-title .qy-right-span a { color: #b1b1b1; }
.panel-title .qy-right-span a:hover, .panel-title .qy-right-span a:focus { color: #989898; text-decoration: none; }

.panel-body { position: relative; z-index: 1000; }

.loding { display: none; }

.footer { margin-top: 50px; margin-bottom: 0.5rem; }

.footer, .loding { color: #b1b1b1; text-align: center; }
.footer i, .loding i { margin-left: 0.5rem; }

::-webkit-scrollbar { width: 10px; background-color: rgba(0, 0, 0, 0.22); }

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner { display: none; }

::-webkit-scrollbar-thumb { border-radius: 10px; background-color: rgba(3, 130, 255, 0.25); }

::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.3); border-radius: 10px; background-color: #F5F5F5; }

ul { list-style: none; }

#schedule-box { width: 100%; margin: 0 auto; padding: 35px 20px; font-size: 13px; }

.schedule-hd { display: flex; justify-content: space-between; padding: 0 15px; }
.schedule-hd span { position: relative; z-index: 1000; }

.today { flex: 1; text-align: center; }

.ul-box { overflow: hidden; padding-left: 0px; }

.ul-box > li { position: relative; z-index: 1000; float: left; width: 14.28%; text-align: center; padding: 5px 0; }

.other-month { color: #999999; }

.current-month { color: #333333; }

.today-style { border-radius: 50%; background: #58d321; }

.arrow { cursor: pointer; }

.dayStyle { display: inline-block; width: 35px; height: 35px; border-radius: 50%; text-align: center; line-height: 35px; cursor: pointer; }

.current-month > .dayStyle:hover { background: #00BDFF; color: #ffffff; }

.today-flag { background: #00C2B1; color: #fff; }

.boxshaw { box-shadow: 2px 2px 15px 2px #e3e3e3; }

.selected-style { background: #00BDFF; color: #ffffff; }

#h3Ele { text-align: center; padding: 10px; }

#tagscloud { width: 100%; height: 260px; position: relative; font-size: 14px; color: #333; margin-top: 20px; position: relative; z-index: 1000; text-align: center; -webkit-box-shadow: 2px 2px 15px 2px #e3e3e3; -moz-box-shadow: 2px 2px 15px 2px #e3e3e3; box-shadow: 2px 2px 15px 2px #e3e3e3; }

#tagscloud a { position: absolute; top: 0px; left: 0px; color: #b1b1b1; font-family: Arial; text-decoration: none; }

.visible-lg.fadeInDown { -webkit-animation: fadeInDown 3s ease; -moz-animation: fadeInDown 3s ease; -o-animation: fadeInDown 3s ease; animation: fadeInDown 3s ease; }
.visible-lg.fadeInUp { -webkit-animation: fadeInUp 3s ease; -moz-animation: fadeInUp 3s ease; -o-animation: fadeInUp 3s ease; animation: fadeInUp 3s ease; }

/*# sourceMappingURL=mystyle.css.map */
