$main-color:#1C8BCF;
$all-color:#999999;
$mark-color:#4CCE9C;
$danger:rgb(146, 5, 5);
$white:#fff;
@mixin btn-border($color){
    border: 1px solid $color;
}
@mixin box-show(){
    border-radius:2px; 
    box-shadow: 0px 0px 5px #d8d8d8;
}
html,body,ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
}
#app{
    height: 100%;
}
li{
    list-style: none;
}
a{
  color: $all-color;
  text-decoration-line: none;   
}
a:focus{
    outline: none;
}
a:hover{
    font-weight: bold;
    color: darken($all-color, 30%)
}
.top{
    height: 120px;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    .top-head{
        display: block;
        height: 75px;
        width: 100%;
        position: relative;
        .logo{
            margin-top:10px; 
            height: 60px;
            a{
                display: block;
            }
            img{
                height: 60px;
            }
        }
        .oper{
            position: absolute;
            top:20px;
            right: 0px;
            span{
                margin-right: 20px;
            }
        }
    }
    .top-menu{
        height: 40px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        li{
            color: rgb(102,102,102);
            float: left;
            height: 40px;
            line-height: 40px;
            a{
                display: block;
                padding: 0 10px;
            }
        }
        li:hover,.active{
            // background-color: lighten($main-color,40%);
            border-bottom: 4px solid $main-color;
            a{
                font-weight: bold;
                color: darken($all-color, 30%)
            }
        }
    }
}
.index_content{
    height: 81%;
    width: 100%;
    margin: 0 auto;
    max-width: 1366px;
    overflow: hidden;
    .carousel_img{
        max-height: 400px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .count{
        width: 100%;
        .box{
            width: 25%;
            padding: 80px 0;
            text-align: center;
            float: left;
            color: $all-color;
            i,b{
                font-size: 22px;
            }
        }
    }
}
.content{
    width: 100%;
    min-height:81%;;
    border-top: 1px solid lighten($all-color,30%);
    background-color: lighten($all-color,35%);
    overflow: hidden;
    .error,.content_text{
        max-width: 1366px;
        margin: 0 auto;
    }
    .error{
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .content_text{
        margin-top: 20px;
        position: relative;
        .patient_left{
            width: 25%;
            float: left;
        }
        .content_left{
            @include btn-border(lighten($all-color,25%));
            background-color: $white;
            color: darken($all-color,15%);
            margin-bottom: 40px;
            .content_left_top{
                background-color: lighten($all-color,30%);
                .title,li{
                    padding: 15px;
                    font-weight: 600;
                }
                .title{
                    font-size: 12px;
                }
                .list{
                    display: none;
                    li{
                        padding-left: 26px; 
                     }
                }
                .title:hover,li:hover{
                    color: darken($all-color,30%);
                    background-color: lighten($main-color, 45%);
                }
            }
            .content_left_text{
                padding: 20px;
                color: darken($all-color,40%);
                header{
                    font-size: 22px;
                    font-weight:500;
                    margin-top: 10px;
                }
                .item_list{
                    margin-top: 20px;
                    font-weight: bold;
                    dd{
                        padding-top: 10px;
                        .typeahead{
                            width: 100%;
                            input{
                                font-weight: 500;
                            }
                        }
                        .n3-select-group{
                            width: 100%;
                        }
                    }
                    .tertiary-title{
                        font-size: 14px;
                        border: 0;
                        margin-bottom: 10px;
                        font{
                            margin-left: 50px;
                            font-size: 12px;
                        }
                    }
                    .n3-slider-track{
                        background-color: lighten($all-color,20%);
                    }
                    .inline{
                        width: 100%;
                    }
                }
            }
        }
        .patient_right,.expert_right{
            width: 73%;
            margin-left: 20px;
            float: left;
            margin-bottom: 40px;
        }
        .expert_right{
            width: 78%;
        }
        .symptom_left,.expert_left{
            float: left;
            width: 23%;
            margin-left: 20px;
            margin-top: 55px;
            @include box-show();
            border: 0;
            background-color: lighten($all-color,25%);
            padding: 10px 20px;
            color: darken($all-color,40%);
            .bold_hr{
                border-top: 2px solid lighten($all-color,10%);
            }
            hr{
                border-top: 1px solid $all-color;
            }
        }
        .expert_left{
            width: 19%;
            margin-top: 10px;
            padding-top: 30px;
            background-color: lighten($main-color,48%);
        }
        .content_right {
            .content_right_box{
                width: 100%;
                display: block;
                background-color:$white;
                @include box-show();
                header,footer{
                    padding: 20px; 
                    background-color: lighten($all-color,30%);
                    .header-line{
                        margin-top: 10px;
                        .page{
                            float: right;

                            text-align: right;
                        }
                        span{
                            background: lighten($all-color, 20%);
                            padding: 5px 8px;
                            border-radius: 3px;
                            color:$main-color;
                        }
                        i{
                            font-size: 13px;
                            margin-left: 8px;
                            vertical-align: top;
                            color: $all-color;
                        }
                    }
                    .page_f{
                        width: 100%;
                        text-align: right;
                    }
                }
                .content_table{
                    padding: 20px;
                    background-color: $white;
                    .user{
                        margin: 20px 0px;
                        float: left;
                        font-weight: bold;
                        span{
                            padding: 0 8px;
                        }
                    }
                    .table_a{
                        font-weight: bold;
                        margin-right: 5px;
                    }
                    a.table_a{
                        color: darken($all-color,10%);
                        border-bottom:1px dashed lighten($all-color,10%); 
                    }
                    a.table_a:hover{
                        color: darken($all-color,20%);
                        border-bottom:0px;
                    }
                    .content_td{
                        span{
                            display: inline-block;
                            padding: 3px 0; 
                        }
                    }
                }
            }
            .content_padding{
                padding: 25px;
                overflow: hidden;
                .list{
                    margin-top: 20px;
                    h4{
                        font-size: 15px;
                        font-weight: bold;
                        color: darken($all-color, 30%);
                    }
                    .line{
                        margin-top: 10px;
                        a{
                            margin-right: 5px;
                        }
                    }
                    .but-line{
                        text-align: center;
                        padding: 20px;
                    }
                    .head{
                        border-radius:5px; 
                        padding:10px;
                        background-color: lighten($all-color,36%);
                        overflow: hidden;
                    }
                }
                .list:first-child{
                    margin-top: 0px;
                }
                .list_box{
                    margin-left: 3%;
                    margin-bottom: 30px;
                    float: left;
                    width: 22%;
                    padding: 20px;
                    box-shadow: 0px 0px 5px rgba(28, 139, 207, 0.55);
                    img{
                       width: 100%;
                    }
                    .bottom_text{
                        p{
                            margin: 0px;
                        }
                    }
                }
                .list_box:hover{
                    box-shadow: 0px 0px 30px rgba(28, 139, 207, 0.55);
                }
            }
            .expert{
                padding: 30px 30px 0px;
                padding-left: 0px;
            }
        }
        .hear_portrait{
            float: left;
            width: 60px;
            margin: 20px 15px;
            img{
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
.footer{
    background-color: #1C8BCF;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: lighten($all-color, 20%);
    a{
        color:inherit;
        margin: 3px;
    }
    a:hover{
        font-weight: inherit;
        color: $all-color;
    }
    div{
        margin-top: 5px;
    }
}
.tables{
    width: 100%;
    tr{
        border-bottom: 1px solid lighten($all-color,10%);
    }
    tr:last-child{
        border-bottom:0px;
    }
}
.content_tabs{
    background-color: $white;
}
.tabs_content{
    padding: 20px;
}
.schedule{
    width: 100%;
    height: 16px;
    display: inline-block;
    border: 1px solid lighten($all-color,30%);
    .schedule_child{
        height: 100%;
        float: left;
    }
}
.login_box
{
    min-height: 430px;
    background-color: lighten($all-color,30%);
    overflow: hidden;
    .login_left{
        padding: 30px 20px;
        width: 30%;
        float: left;
        img{
            width: 100%;
            min-height: 370px;
        }
    }
    .login_right{
        width: 70%;
        float: left;
        margin-top: 50px;
        padding: 10px 30px;
        border-left: 1px solid lighten($all-color,22%);
        min-height: 334px;
        margin-bottom: 50px;
        header{
            padding-bottom: 10px;
        }
        .columns{
            line-height: 40px;
        }
    }

}
.recoverPwd{
    header{
        padding:0 10px;
    }
    .row{
        width: 100%;
        padding: 30px;
        background-color: lighten($all-color,30%);    
        header{
            padding: 0;
        }   
        .line{
            margin-top: 20px;
        }
    }
}
.member-home{
    display: flex;
    width: 83.33333%;
    padding-left: 20px;
    margin-left: 4.0%;
    margin-top: 30px;
    margin-bottom: 40px;
    .member-home-col:first-child {
        margin-right: 20px;
        width: calc((100% * (16/24)) - 10.01px);
    }
    .member-home-col {
        width: calc((100% * (8/24)) - 10.01px);
    }
    .box{
        border-radius: 3px;
        background: $white;
        width: 100%;
        padding: 20px 20px 30px;
        display: flex;
        .box_content{
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            .line{
                margin-top: 10px;
            }
        }
    }
    .avatar{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        img{
            width: 100%;
            border-radius:30px; 
            height: 100%;
        }
    }
    .min-avatar{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .stream-event{
        padding: 20px;
        background-color: $white;
        margin-top: 10px;
        .stream-event-header{
            display: flex;
            margin-bottom: 20px;
            flex-flow: wrap;
        }
        .interactive{
            margin-bottom: -20px;
        }
    }
   .media-object{
    .media-content{
        height: 40px;
        margin-top: 10px;
        width: calc(100% - 80px);
        position: relative;
    }
    .media-text{
        width: calc(100% - 30px);
    }
    .media-oper{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        text-align: center;
    }
    .media-img{
        width: 100%;
        img{
            max-width: 100%;
        }
    }
    hr{
        border-color: #cccccc;
        margin: 10px 0px;
    }
   }
   .min-media-object{
       margin-top: 15px;
       margin-bottom: 10px;
       .media-content{
            height: 40px;
            margin-top: 5px;
            width: calc(100% - 45px);
            position: relative;
        }
        .button-group{
            margin-left: 45px;
            padding-top: 5px;
        }
   }
   .interactive{
       background-color: lighten($all-color,30%);
       margin:0 -20px;
       padding: 20px;
       .button-group{
           width: 100%;
           text-align: right;
       }
   }
}
//健康状态
.health{
    display: flex;
    margin-left: 3.0%;
    width: 94.3333%;
    margin-bottom: 40px;
    .nav{
        width: 220px;
        .is-active{
            border-left: 2px solid #41cac0;
        }
    }
    .row{
        width: calc(100% - 200px);
        margin-left: 20px;
    }
}
.columns_table{
    width: 100%;
    background-color: $white;
    padding: 20px;
    margin-top: 20px;
    table{
        width: 100%;
        caption{
            color:darken($all-color,35%);
            margin-bottom: 10px;
            h3{
                font-size: 18px;
                font-weight: 500;
            }
        }
        th{
            padding-bottom: 5px;
            vertical-align: bottom;
            padding-left: 8px;
        }
        tr{
            border-top: 1px solid lighten($all-color,10%);
            td{
                padding: 15px 0;
                padding-left: 8px;
            }
            td:last-child{
                font-size: 16px;
            }
        }

    }
}
.columns,.asideRight{
    .inputLine{
        height: 45px;
        margin-top: 10px;
        .headline{
            width: 80px;
        }
    }
    .inputLine:first-child{
        margin-top: 20px;
    }
    .enter{
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: 14px;
        outline: none;
    }
    .enter_input{
        width:208px;
        height: 34px; 
        padding: 6px 12px;
    }
    .enter_input_bg{
        width:300px;
        height: 34px; 
        padding: 6px 12px;
    }
    .enter_textarea{
        width: 100%;
        height: 60px;
        resize: none;
    }
    .enter_textarea_lg{
        height: 260px;
    }
    .enter:focus {
        border: 1px solid #41cac0;
        outline: 0;
    }
    .bold{
        font-weight: 600;
    }
    .story{
        margin-top: 10px;
        text-align: right;
    }
    .columns_header{
        padding: 20px;
        background-color: lighten($all-color, 35.6666%);
        .n3-input-con{
            margin-top: 20px;
        }
    }
    .columns_text{
        background-color: $white;
    }
}
.container{
    .columns{
        margin-top: 20px;
    }
}
.community_text{
    margin-top: 20px;
    .desc_btn{
        margin-left: 10px;
    }
    .community_list{
        margin-top: 20px;
        width: 100%;
        .table_titel{
            background-color:darken($white,6%);    
            display: flex;
            padding: 20px;
        }
        .topic{
            width: 40%;
        }
        .interactive{
            width: 26%;
        }
        .statistics{
            width: 11.33333%;
        }
        .interactive,.statistics{
            padding-left: 10px;
        }
        .community_table{
            background-color: $white;
            padding: 0 10px;
            table{
                width: 100%;
                td{
                    padding:15px 10px;
                    font-weight: 500;
                    .avater{
                        color: darken($white,30%);
                        img{
                            width: 30px;
                            height: 30px;
                            border-radius: 30px;
                        }
                        span{
                            vertical-align: sub;
                            margin-left: 5px;
                        }
                    }
                }
                tr{
                    border-bottom: 1px solid darken($white,10%);
                }
                tr:last-child{
                    border-bottom:0px;
                }
            }   
        }
        .page{
            padding: 10px;
            background-color:darken($white,6%);  
            text-align: right;
            margin-bottom: 40px;
        }
    }
}
.community{
    margin-top: 60px;
    background-color: inherit;
    .content_table{
        background: $white;
        padding: 20px;
        margin-top: 10px;
        table{
            width: 100%;
            caption{
                font-size: 21px;
                color: #414141;
                padding-bottom: 10px;
                position: relative;
            }
            td{
                border-top: 1px solid darken($white,10%);
                padding: 10px 0;
            }
            .icon_td{
                font-size: 20px;
                width: 8%;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width:1024px){
    .content{
        .content_text {
            .patient_left,.patient_right{
                width: 100%;
            }
            .patient_right{
                margin-left: 0px;
            }
            .symptom_left,.expert_left{
                display: none;
            }
        } 
    }
    .login_box{
        .login_left{
           display: none;
        }
        .login_right{
            width: 100%;
            border-left: 0px solid lighten($all-color,22%);
            header{
                padding-bottom: 10px;
            }
            .columns{
                line-height: 40px;
            }
        }  
    }
}