$main-color:#1C8BCF;
$all-color:#999999;
$mark-color:#4CCE9C;
@mixin btn-border($color){
    border: 1px solid $color;
}
@mixin box-show(){
    border-radius:2px; 
    box-shadow: 0px 0px 5px #999999;
}
html,body,ul{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
li{
    list-style: none;
}
a{
  color: $all-color;
  text-decoration-line: none;   
}
a:focus{
    outline: none;
}
a:hover{
    font-weight: bold;
    color: darken($all-color, 30%)
}
.top{
    height: 120px;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
    .top-head{
        display: block;
        height: 75px;
        width: 100%;
        position: relative;
        .logo{
            margin-top:10px; 
            height: 60px;
            a{
                display: block;
            }
            img{
                height: 60px;
            }
        }
        .oper{
            position: absolute;
            top:20px;
            right: 0px;
            span{
                margin-right: 20px;
            }
        }
    }
    .top-menu{
        height: 40px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        li{
            color: rgb(102,102,102);
            float: left;
            height: 40px;
            line-height: 40px;
            a{
                display: block;
                padding: 0 26px;
            }
        }
        li:hover,.active{
            // background-color: lighten($main-color,40%);
            border-bottom: 4px solid $main-color;
            a{
                font-weight: bold;
                color: darken($all-color, 30%)
            }
        }
    }
}
.index_content{
    width: 100%;
    margin: 0 auto;
    max-width: 1366px;
    overflow: hidden;
    .carousel_img{
        max-height: 400px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .count{
        width: 100%;
        .box{
            width: 25%;
            padding: 80px 0;
            text-align: center;
            float: left;
            color: $all-color;
            i,b{
                font-size: 22px;
            }
        }
    }
}
.content{
    width: 100%;
    min-height: 579px;
    border-top: 1px solid lighten($all-color,30%);
    background-color: lighten($all-color,35%);
    overflow: hidden;
    .error,.content_text{
        max-width: 1366px;
        margin: 0 auto;
    }
    .error{
        margin-bottom:40px; 
    }
    .content_text{
        margin-top: 20px;
        position: relative;
        .patient_left{
            width: 25%;
            float: left;
        }
        .content_left{
            @include btn-border(lighten($all-color,25%));
            background-color: #fff;
            color: darken($all-color,15%);
            margin-bottom: 40px;
            .content_left_top{
                background-color: lighten($all-color,30%);
                .title,li{
                    padding: 15px;
                    font-weight: 600;
                }
                .title{
                    font-size: 12px;
                }
                .list{
                    display: none;
                    li{
                        padding-left: 26px; 
                     }
                }
                .title:hover,li:hover{
                    color: darken($all-color,30%);
                    background-color: lighten($main-color, 45%);
                }
            }
            .content_left_text{
                padding: 20px;
                color: darken($all-color,40%);
                header{
                    font-size: 22px;
                    font-weight:500;
                    margin-top: 10px;
                }
                .item_list{
                    margin-top: 20px;
                    font-weight: bold;
                    dd{
                        padding-top: 10px;
                        .typeahead{
                            width: 100%;
                            input{
                                font-weight: 500;
                            }
                        }
                        .n3-select-group{
                            width: 100%;
                        }
                    }
                    .tertiary-title{
                        font-size: 14px;
                        border: 0;
                        margin-bottom: 10px;
                        font{
                            margin-left: 50px;
                            font-size: 12px;
                        }
                    }
                    .n3-slider-track{
                        background-color: lighten($all-color,20%);
                    }
                    .inline{
                        width: 100%;
                    }
                }
            }
        }
        .patient_right,.expert_right{
            width: 73%;
            margin-left: 20px;
            float: left;
            margin-bottom: 40px;
        }
        .expert_right{
            width: 78%;
        }
        .symptom_left,.expert_left{
            float: left;
            width: 23%;
            margin-left: 20px;
            margin-top: 55px;
            @include box-show();
            border: 0;
            background-color: lighten($all-color,25%);
            padding: 10px 20px;
            color: darken($all-color,40%);
            .bold_hr{
                border-top: 2px solid lighten($all-color,10%);
            }
            hr{
                border-top: 1px solid $all-color;
            }
        }
        .expert_left{
            width: 19%;
            margin-top: 10px;
            padding-top: 30px;
            background-color: lighten($main-color,48%);
        }
        .content_right {
            .content_right_box{
                width: 100%;
                display: block;
                background-color: #fff;
                @include box-show();
                header,footer{
                    padding: 20px; 
                    background-color: lighten($all-color,30%);
                    .header-line{
                        margin-top: 10px;
                        .page{
                            float: right;

                            text-align: right;
                        }
                        span{
                            background: lighten($all-color, 20%);
                            padding: 5px 8px;
                            border-radius: 3px;
                            color:$main-color;
                        }
                        i{
                            font-size: 13px;
                            margin-left: 8px;
                            vertical-align: top;
                            color: $all-color;
                        }
                    }
                    .page_f{
                        width: 100%;
                        text-align: right;
                    }
                }
                .content_table{
                    padding: 20px;
                    background-color: #fff;
                    .user{
                        margin: 20px 0px;
                        float: left;
                        font-weight: bold;
                        span{
                            padding: 0 8px;
                        }
                    }
                    .table_a{
                        font-weight: bold;
                        margin-right: 5px;
                    }
                    a.table_a{
                        color: darken($all-color,10%);
                        border-bottom:1px dashed lighten($all-color,10%); 
                    }
                    a.table_a:hover{
                        color: darken($all-color,20%);
                        border-bottom:0px;
                    }
                    .content_td{
                        span{
                            display: inline-block;
                            padding: 3px 0; 
                        }
                    }
                }
            }
            .content_padding{
                padding: 25px;
                overflow: hidden;
                .list{
                    margin-top: 20px;
                    h4{
                        font-size: 15px;
                        font-weight: bold;
                        color: darken($all-color, 30%);
                    }
                    .line{
                        margin-top: 10px;
                        a{
                            margin-right: 5px;
                        }
                    }
                    .but-line{
                        text-align: center;
                        padding: 20px;
                    }
                    .head{
                        border-radius:5px; 
                        padding:10px;
                        background-color: lighten($all-color,36%);
                        overflow: hidden;
                    }
                }
                .list:first-child{
                    margin-top: 0px;
                }
                .list_box{
                    margin-left: 3%;
                    margin-bottom: 30px;
                    float: left;
                    width: 22%;
                    padding: 20px;
                    box-shadow: 0px 0px 5px rgba(28, 139, 207, 0.55);
                    img{
                       width: 100%;
                    }
                    .bottom_text{
                        p{
                            margin: 0px;
                        }
                    }
                }
                .list_box:hover{
                    box-shadow: 0px 0px 30px rgba(28, 139, 207, 0.55);
                }
            }
            .expert{
                padding: 30px 30px 0px;
                padding-left: 0px;
            }
            .hear_portrait{
                float: left;
                width: 60px;
                margin: 20px 15px;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}
.footer{
    background-color: #1C8BCF;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: lighten($all-color, 20%);
    a{
        color:inherit;
        margin: 3px;
    }
    a:hover{
        font-weight: inherit;
        color: $all-color;
    }
    div{
        margin-top: 5px;
    }
}
.tables{
    width: 100%;
    tr{
        border-bottom: 1px solid lighten($all-color,10%);
    }
    tr:last-child{
        border-bottom:0px;
    }
}
@media screen and (max-width:1024px){
    .content{
        .content_text {
            .patient_left,.patient_right{
                width: 100%;
            }
            .patient_right{
                margin-left: 0px;
            }
            .symptom_left,.expert_left{
                display: none;
            }
        } 
    }
}