@import './public';
.btn{
    height: 33px;
    padding: 0 30px;
    border-radius: 3px;
    line-height: 33px;
    display: inline-block;
}
.general_btn{
    background-color: $white;
    @include btn-border($all-color);
    color: $all-color;
}
.general_btn:hover{
    background-color:lighten($all-color,30%)
}
.mark_btn{
    border: 0px;
    background-color: $main-color;
    @include btn-border($main-color);
    color: $white;
}
.mark_btn:hover,a.mark_btn:hover{
    background-color: darken($main-color, 10%);
    color: $white;
    font-weight: 500;
}
.text{
    color: $all-color;
    font-size: 14px;
    a{
        margin: 0 10px;
    }
}
.nobold{
    font-weight: 500;
}
.text_1{
    color: darken($all-color,10%);
}
.text_2{
    color: darken($all-color,20%);
}
.mark_a{
    color: $mark-color;
}
.sign{
    color: $main-color;
}
a.sign:hover{
    color: darken($main-color, 10%);
}
.mark_a:hover{
    color: darken($mark-color, 10%);
}
.icon{
    color: darken($all-color, 20%);
    margin-right: 10px;
    vertical-align: text-bottom;
}
.icon_active{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	
    -moz-transform:rotate(-90deg); 	
    -webkit-transform:rotate(-90deg); 
    -o-transform:rotate(-90deg); 
}
.show{
    display: block;
}
.box_show{
    @include box-show()
}
.n3-nav-tabs{
    border:0;
    li{
        min-width: 60px;
        text-align: center;
        a{
            border: 0px;
            margin-left: -1px;
        }
        a:focus,a:hover{
            border: 0px;
            outline: none;
            border-radius:0px;
            font-weight: 600;
            border-bottom: 4px solid $main-color; 
        } 
    }
    li.n3-nav-tabs-active{
       a,a:focus,a:hover{
           border: 0px;
           outline: none;
           border-radius:0px;
           font-weight: 600;
           border-bottom: 4px solid $main-color; 
       } 
    }
}
.search_long_input{
    margin-top: 10px;
    width: 40%;
}
.h2_font{
    font-size: 20px;
    font-weight: 600;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
//感知有效性颜色标识-背景
.important{
    background-color:$mark-color;
}
.moderate{
    background-color:lighten($mark-color,10%);
}
.slight
{
    background-color:lighten($mark-color,20%);
}
.none{
    background-color:lighten($mark-color,30%);
}
.notell{
    background-color:lighten($mark-color,35%);
}
//感知有效性颜色标识字体
.important_f{
    color:$mark-color;
    padding: 0 5px 0 10px;
}
.moderate_f{
    color:lighten($mark-color,10%);
    padding: 0 5px 0 10px;
}
.slight_f{
    color:lighten($mark-color,20%);
    padding: 0 5px 0 10px;
}
.none_f{
    color:lighten($mark-color,30%);
    padding: 0 5px 0 10px;
}
.notell_f{
    color:lighten($mark-color,35%);
    padding: 0 5px 0 10px;
}
.danger{
    background-color: $danger;
}
.common{
    background-color: lighten($main-color,25%);
}
.show_strong{
    color: $main-color;
    margin-left: 5px;
    cursor: pointer;
}
.show_strong:hover{
    color: darken($main-color, 20%);
}
//更改默认N3加载样式
// .n3-page-loading-con{
//     // vertical-align: bottom;
//     // margin-left: 5px;
//     // i{
//     //     font-size: 14px;
//     // }
// }
.danger_f{
    color: $danger;
}
.danger_f:hover{
    color: lighten($danger, 20%);
}
.success_f{
    color: $mark-color;
}
.n3-select-group .n3-dropdown-menu{
    min-height: 100px;
}
.protocol{
    font-size: 12px;
    color: #414141;
    font-weight: 500;
    border-bottom: 1px solid #414141;
    padding-bottom: 1px;
    cursor: pointer;
}
.show_text_img{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lighten($all-color, 20%);
    hr{
        border-color: lighten($all-color, 20%);
        margin: 10px 0px;
    }
}
//我的发布状态文本域
.my_status_insert{
    margin: 0px;
    height: 40px;
    width: 100%;
    outline: none;
    border:none;
    overflow: hidden;
    resize: none;
}
.show_img{
    .img_box{
        position: relative;
        width: 80px;
        height: 80px;;
        img{
            width: 100%;
            max-height: 100%;
        }
    }
}
.del_img{
    position: absolute;
    right: 0px;
    top: 0px;
}
.but_span{
    padding: 3px 6px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #969696;
}
.but_span_border{
    border: 1px solid lighten($all-color, 30%);
}
.dis_span{
   background-color: lighten($all-color,20%);
}
.button-group{
    padding: 10px 0 0;
    .button-c{
        color:lighten($all-color, 15%);
        margin-right:5px; 
    }
    .button-c.active{
        color: $mark-color;
    }
    .button-span{
        margin-right: 10px;
        font-size: 12px;
        cursor: pointer;
    }
}
.box_title{
    margin-top: 20px;
    line-height: 30px;
    color: $all-color;
}
//男
.male{
    color: #91d7f7;
}
//女
.female{
    color: #ffbcf9;
}

//回复文本框
.reply_text{
    .n3-form-control{
        border-radius: 15px;
        border-bottom-left-radius: 0px;
    }
}

//刷新
.ref{
    color: $mark_color;
    margin-left: 10px;
    font-size: 16px;
    text-shadow: 0px 0px 3px #ccc;
}

.edit{
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: 20px;
    color: $all-color;
}
.no_top{
    margin-top: 0;
}
//标签
.tabs_label{
    padding: 3px 12px;
    background: lighten($mark-color,10%);
    color: $white;
    border-radius: 3px; 
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}
.tabs_label:hover{
    background: $mark-color;
}
.explain{
    text-align: right;
}
.mark_color1{
    color: #3BAE4F;
}
.mark_color2{
    color: #FEDC32;
}
.mark_color3{
    color: #FF8F02;
}
.mark_color4{
    color: #D93019;
}
.mark_bg1{
   background-color: #3BAE4F;
}
.mark_bg2{
   background-color: #FEDC32;
}
.mark_bg3{
   background-color: #FF8F02;
}
.mark_bg4{
   background-color: #D93019;
}
.item{
    width: 120px;
    text-align: center;
    label{
        border: 1px solid #ccc;
        padding: 0px 20px;
        border-radius: 2px;
    }
    label:hover{
        background-color: #dfdfdf;
    }
    .active{
        color: #fff;
        border: 0px;
    }
}