@import './public';
.btn{
    height: 33px;
    padding: 0 30px;
    border-radius: 3px;
    line-height: 33px;
    display: inline-block;
}
.general_btn{
    background-color: $white;
    @include btn-border($all-color);
    color: $all-color;
}
.general_btn:hover{
    background-color:lighten($all-color,30%)
}
.mark_btn{
    border: 0px;
    background-color: $main-color;
    @include btn-border($main-color);
    color: $white;
}
.mark_btn:hover,a.mark_btn:hover{
    background-color: darken($main-color, 10%);
    color: $white;
    font-weight: 500;
}
.text{
    color: $all-color;
    font-size: 14px;
    a{
        margin: 0 10px;
    }
}
.nobold{
    font-weight: 500;
}
.text_1{
    color: darken($all-color,10%);
}
.mark_a{
    color: $mark-color;
}
.sign{
    color: $main-color;
}
a.sign:hover{
    color: darken($main-color, 10%);
}
.mark_a:hover{
    color: darken($mark-color, 10%);
}
.icon{
    color: darken($all-color, 20%);
    margin-right: 10px;
}
.icon_active{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	
    -moz-transform:rotate(-90deg); 	
    -webkit-transform:rotate(-90deg); 
    -o-transform:rotate(-90deg); 
}
.show{
    display: block;
}
.box_show{
    @include box-show()
}
.n3-nav-tabs{
    border:0;
    li{
        min-width: 60px;
        text-align: center;
        a{
            border: 0px;
            margin-left: -1px;
        }
        a:focus,a:hover{
            border: 0px;
            outline: none;
            border-radius:0px;
            font-weight: 600;
            border-bottom: 4px solid $main-color; 
        } 
    }
    li.n3-nav-tabs-active{
       a,a:focus,a:hover{
           border: 0px;
           outline: none;
           border-radius:0px;
           font-weight: 600;
           border-bottom: 4px solid $main-color; 
       } 
    }
}
.search_long_input{
    margin-top: 10px;
    width: 40%;
}
.h2_font{
    font-size: 20px;
    font-weight: 600;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}